.myform-wrapper {
    margin: 50px;
    width: 350px;  
}

.mat-form-field {
    width: 100%;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;

}

.myform-wrapper button {
    width: 30%;
}

#fileUpload {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.container {
    width: 70%;
    margin: auto;
}

.content-container {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.content-lines {
    width: 45%;
    padding: 0.5rem;
    border: 1px solid #eae9e9;
}
.content-lines h3 {
    background-color: #d0cece;
    color: #5c5c5c;
    margin: 0;
    margin-bottom: 1rem;
}

.content-estados {
    margin-left: 3rem;
    margin-top: 2rem;
    display: flex;
}


.estado-columna {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.estado-title {
    color: #0089ff;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.title-input.error{
    color: red !important;
}

.title-input.success{
    color: green !important;
}
.estado-columna-content {
    margin-top: 0.5rem;
    border: 1px solid black;
    padding: 0 1.4rem;
}

.content-footer {
    display: flex;
    justify-content: space-between;
}

.content-table {
    width: 50%;
}
.content-table h3 {
    margin: 0;
    color: #0089ff;
}
table {
    width: 100%;
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-estado, .mat-column-estadoUno, .mat-column-estadoDos, .mat-column-estadoTres  {
    font-size: 18px;
}

.mat-column-demo-weight {
    font-style: italic;
}

.mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
}